<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "head.html" . }}
    <body class="">
    {{ partial "nav-slim-inline.html" .}}
	<ul class="dt mt0 mb0 mw5 mw7-ns center list pl0">
        {{ $paginator := .Paginate .Data.Pages }}
	{{ range $paginator.Pages }}
	  <li class="pa2 pa2-ns bb b--black-10">
	    <div class="dtc w-75 pa3 v-top">
	      <h1 class="input-reset ma0 black-80 fw6"><a class="link black-90 dim" href="{{ .Permalink }}">{{.Title }}</a></h1>
	      <p class="lh-title black-90 f5 fw4">{{ .Summary }}</p>
	    </div>
	    <div class="dtc w-20 pa3 v-top">
	      <time>{{ dateFormat "02 Jan 2006" .Date }}</time>
	      <p>{{ .WordCount}} words</p>
	      <p>(~{{ .ReadingTime }} min read)</p> 
	    </div>
	  </li>
        {{ end }}

	{{ partial "footer.html" . }}
    </body>
</html>
 
