<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "head.html" . }}
    <body class="">
    {{ partial "header.html" . }}
    {{ partial "nav-homepage.html" . }}
    {{ range .Data.Pages }}
    {{ if eq .Title "fitter-happier" }}
    <article class="mw7 center pa3 pa4-ns black-80 tc">
        <h1 class="underline fw6">{{ .Title }}</h1>
	<div class="ttu fw5">
	{{ .Content }}
	</div>
    </article>
    {{ end }}
    {{ end }}
    {{ partial "fht-script.html" .}}
    {{ partial "footer.html" . }}
    </body>
</html>
