<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "head.html" . }}
    <body class="">
    {{ partial "header.html" . }}
    {{ partial "nav-big-button.html" . }}

    {{ range where .Data.Pages "Type" "home" }}
    {{ if eq .Title "fitter-happier" }}
    <article class="mw7-ns center pa3 pa4-ns">
	    <h1 class="tc underline">{{ .Title }}</h1>
	    <div class="ttu b">
	    {{ .Content }}
	    </div>
    </article>
    {{ end }}
    {{ end }}

    {{ partial "fht-script.html" .}}
    {{ partial "footer.html" . }}
    </body>
</html>
